# Week-1 Quiz

In [1]:
#Import all required packages

import pandas as pd
import numpy as np
%matplotlib inline
%load_ext autoreload
%autoreload 2
import src.edhec_risk_kit as erk

## Dataset 
Read in the data in the file “Portfolios_Formed_on_ME_monthly_EW.csv” as we did in the lab sessions.We performed a series of analysis on the ‘Lo 10’ and the ‘Hi 10’ columns which are the returns of the lowest and highest decile portfolios. For purposes of this assignment, we will use the lowest and highest quintile portfolios, which are labelled ‘Lo 20’ and ‘Hi 20’ respectively

In [2]:
#Reading the file Portfolios_Formed_on_ME_monthly_EW.csv
df = erk.read_Portfolios_Formed_on_ME_monthly_EW(data_loc='./data')

In [3]:
df.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.0043,0.0152,0.0268,-0.0057,0.0059,0.0160,0.0147,0.0333,-0.0145,0.0029,-0.0015,0.0133,0.0124,0.0198,0.0155,0.0138,0.0338,0.0329
1926-08,NaN,0.0390,0.0304,0.0209,0.0384,0.0359,0.0371,0.0161,0.0233,0.0512,0.0259,0.0403,0.0315,0.0272,0.0472,0.0160,0.0163,0.0098,0.0370
1926-09,NaN,-0.0108,-0.0054,0.0016,-0.0048,-0.0140,0.0000,-0.0050,-0.0009,0.0093,-0.0187,-0.0227,-0.0053,0.0007,-0.0007,-0.0164,0.0064,-0.0086,0.0067
1926-10,NaN,-0.0332,-0.0352,-0.0306,-0.0329,-0.0410,-0.0289,-0.0336,-0.0295,-0.0484,-0.0177,-0.0336,-0.0483,-0.0298,-0.0280,-0.0345,-0.0327,-0.0347,-0.0243
1926-11,NaN,-0.0046,0.0382,0.0309,-0.0055,0.0218,0.0341,0.0339,0.0316,-0.0078,-0.0032,-0.0029,0.0465,0.0324,0.0357,0.0382,0.0295,0.0361,0.0270

In [4]:
rets = df[['Lo 20', 'Hi 20']]
rets.head()

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316

## Question 1: What was the Annualized Return of the Lo 20 portfolio over the entire period?

    Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43
    
## Question 2: What was the Annualized Volatility of the Lo 20 portfolio over the entire period? 
    Enter the answer as a numeric to one decimal place, as a percentage. e.g. if your answer is 23.43% enter the number 23.4    
    
## Question 3: What was the Annualized Return of the Hi 20 portfolio over the entire period?
    Enter the answer as percentage. e.g. if your answer is 23.43% enter the number 23.43     
    
## Question 4: What was the Annualized Volatility of the Hi 20 portfolio over the entire period ?
    Enter the answer as percentage. e.g. if your answer is 23.43% enter the number 23.43

In [10]:
# Annualized return
# Question 1: What was the Annualized Return of the Lo 20 portfolio over the entire period?
# Question 3: What was the Annualized Return of the Hi 20 portfolio over the entire period?
round(erk.annualized_returns(rets)*100, 2)

Lo 20    15.20
Hi 20     9.85
dtype: float64

In [12]:
# Annualized Volatility
# Question 2: What was the Annualized Volatility of the Lo 20 portfolio over the entire period?
# Question 4: What was the Annualized Volatility of the Hi 20 portfolio over the entire period ?
round(erk.annualized_volatility(rets)*100, 1)

Lo 20    33.7
Hi 20    19.5
dtype: float64

## Question 5: What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?
    Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43
    
## Question 6: What was the Annualized Volatility of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)? 
    Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

## Question 7: What was the Annualized Return of the Hi 20 portfolio over the period  1999 - 2015 (both inclusive)?
    Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43
    
## Question 8: What was the Annualized Volatility of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)? 
    Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [15]:
# NOTE that the following code includes the data of 2015 also
rets["1999":"2015"].tail()

          Lo 20   Hi 20
2015-08 -0.0347 -0.0559
2015-09 -0.0610 -0.0333
2015-10  0.0385  0.0710
2015-11  0.0165  0.0015
2015-12 -0.0500 -0.0229

In [19]:
# Question 5: What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?
# Question 7: What was the Annualized Return of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)?
round(erk.annualized_returns(rets["1999":"2015"])*100, 2)

Lo 20    11.44
Hi 20     6.29
dtype: float64

In [20]:
# Question 6: What was the Annualized Volatility of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?
# Question 8: What was the Annualized Volatility of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)?
round(erk.annualized_volatility(rets["1999":"2015"])*100, 2)

Lo 20    22.89
Hi 20    17.27
dtype: float64

## Question 9: What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the SmallCap (Lo 20) portfolio?
    Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [30]:
round(-erk.drawdown(rets["1999":"2015"]["Lo 20"])["Drawdown"].min()*100, 2)

62.48

## Question 10: At the end of which month over the period 1999-2015 did that maximum drawdown on the SmallCap (Lo 20) portfolio occur?
    Enter the answer in the format YYYY-MM. Eg for February of 2015 enter 2015-02

In [28]:
erk.drawdown(rets["1999":"2015"]["Lo 20"])["Drawdown"].idxmin()

Period('2009-02', 'M')

## Question 11: What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the LargeCap (Hi 20) portfolio?
    Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [31]:
round(-erk.drawdown(rets["1999":"2015"]["Hi 20"])["Drawdown"].min()*100, 2)

55.27

## Question 12: Over the period 1999-2015, at the end of which month did that maximum drawdown of the LargeCap (Hi 20) portfolio occur?
    Enter the answer as YYYY-MM i.e. for February of 2015 you would enter 2015-02

In [32]:
erk.drawdown(rets["1999":"2015"]["Hi 20"])["Drawdown"].idxmin()

Period('2009-02', 'M')

## Dataset

For the remaining questions, use the EDHEC Hedge Fund Indices data set that we used in the lab assignment and load them into Python.

In [34]:
# Read the read_edhec_hedgefundindices.csv
df = erk.read_edhec_hedgefundindices(data_loc='./data')
df.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,0.0317
1997-02,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,0.0106
1997-03,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,-0.0077
1997-04,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,0.0009
1997-05,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,0.0275

## Question 13: Looking at the data since 2009 (including all of 2009) through 2018 which Hedge Fund Index has exhibited the highest semideviation?

## Question 14: Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has exhibited the lowest semideviation?

In [40]:
erk.semi_deviation(df["2009": "2018"]).sort_values(ascending=False)
# Short Selling
# Fixed Income Arbitrage

Short Selling             0.021240
Emerging Markets          0.015276
Long/Short Equity         0.012139
CTA Global                0.010996
Event Driven              0.010135
Distressed Securities     0.009498
Funds Of Funds            0.007948
Convertible Arbitrage     0.006681
Relative Value            0.005711
Equity Market Neutral     0.005186
Global Macro              0.005075
Merger Arbitrage          0.003611
Fixed Income Arbitrage    0.003321
dtype: float64

## Question 15: Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has been most negatively skewed?

In [42]:
erk.skewness(df["2009":"2018"]).sort_values()
# Equity Market Neutral

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

## Question 16: Looking at the data since 2000 (including all of 2000) through 2018 which Hedge Fund Index has exhibited the highest kurtosis?

In [44]:
erk.kurtosis(df["2009":"2018"]).sort_values(ascending=False)
# Convertible Arbitrage

Convertible Arbitrage     6.775731
Fixed Income Arbitrage    6.406941
Equity Market Neutral     5.071677
Relative Value            4.512482
Emerging Markets          4.401636
Short Selling             4.175832
Long/Short Equity         4.115713
Funds Of Funds            3.816132
Event Driven              3.620617
Distressed Securities     3.319725
Global Macro              3.164362
Merger Arbitrage          2.715238
CTA Global                2.591087
dtype: float64

## Appendix
Code for **Annualized returns** and **Annualized Volatilities** 
(Updated the **edhec_risk_kit.py** with the below code)

        def annualized_returns(r, time_unit='month'):
            '''
            Function to compute the annualized returns.
            Inputs:
                r: Series or DataFrame
                time_periods: Can be 'month' or 'day' or 'year'
            Output:
                Annualized return. If input is a Series, then float, else a Series.
                None if the input is empty or None
            '''
            assert(time_unit in ('month', 'year', 'day'))

            total_periods = r.shape[0]
            if (total_periods == 0):
                return None

            # geometric mean of the data
            gm = ((r + 1).prod())**(1/total_periods)

            if time_unit == 'day':
                n = 252
            elif time_unit == 'month':
                n = 12
            elif time_unit == 'year':
                n = 1
            return gm**n - 1


        def annualized_volatility(r, time_unit='month'):
            '''
            Function to compute the annualized volatility.
            Inputs:
                r: Series or DataFrame
                time_periods: Can be 'month' or 'day' or 'year'
            Output:
                Annualized return. If input is a Series, then float, else a Series.
                None if the input is empty or None
            '''
            assert(time_unit in ('month', 'year', 'day'))

            total_periods = r.shape[0]

            if (total_periods == 0):
                return None

            if time_unit == 'month':
                return r.std() * np.sqrt(12)
            elif time_unit == 'day':
                return r.std() * np.sqrt(252)
            elif time_unit == 'year':
                return r.std()

### Testing
See the data at: https://www.investopedia.com/articles/07/sharpe_ratio.asp

As per this website, the Annualized returns and Auunalized volatility of the examples must be:

        a: 10%   (Annualized returns), 0% Std. Dev or Volatility
        b: 9.88% (Annualized returns), 5.44% Std. Dev or Volatility
        c: 9.75% (Annualized returns), 7.80% Std. Dev or Volatility

In [45]:
t = pd.DataFrame(
    {"a":[10]*10,
     "b":[9,15,23,10,11,8,7,6,6,5],
     "c":[2,-2,18,12,15,2,7,21,8,17]})
t = t/100
t

     a     b     c
0  0.1  0.09  0.02
1  0.1  0.15 -0.02
2  0.1  0.23  0.18
3  0.1  0.10  0.12
4  0.1  0.11  0.15
5  0.1  0.08  0.02
6  0.1  0.07  0.07
7  0.1  0.06  0.21
8  0.1  0.06  0.08
9  0.1  0.05  0.17

In [21]:
erk.annualized_returns(t,time_unit='year')

a    0.100000
b    0.098842
c    0.097489
dtype: float64

In [25]:
erk.annualized_volatility(t,time_unit='year')*100

a    1.462847e-15
b    5.436502e+00
c    7.803133e+00
dtype: float64

In [28]:
round(erk.annualized_volatility(rets)*100, 1)

Lo 20    33.7
Hi 20    19.5
dtype: float64

In [32]:
# What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?
round(erk.annualized_returns(rets["Lo 20"]["1999":"2015"])*100, 2)

11.44

In [33]:
# What was the Annualized Volatility of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)? 
round(erk.annualized_volatility(rets["Lo 20"]["1999":"2015"])*100, 1)

22.9

In [34]:
# What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?
round(erk.annualized_returns(rets["1999":"2015"])*100, 2)

Lo 20    11.44
Hi 20     6.29
dtype: float64

In [35]:
round(erk.annualized_volatility(rets["1999":"2015"])*100, 1)

Lo 20    22.9
Hi 20    17.3
dtype: float64

In [42]:
#What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period 
#in the SmallCap (Lo 20) portfolio?

[erk.drawdown(rets['Lo 20'])['Drawdown']["1999":"2015"].idxmin(), erk.drawdown(rets['Lo 20'])['Drawdown'].min()]

[Period('2009-02', 'M'), -0.8672279770834407]

In [43]:
[erk.drawdown(rets['Hi 20'])['Drawdown']["1999":"2015"].idxmin(), erk.drawdown(rets['Hi 20'])['Drawdown'].min()]

[Period('2009-02', 'M'), -0.8585017065044247]